Repository ditrit/OGrEE-Core, pull requests merged in 2023-11, with the labels that each got.

#238 [CLI] ls with filters + [API] generic objects endpoint
  API/controllers/entityController.go
  API/main.go
  API/models/model.go
  API/swagger.json
  API/utils/util.go
  CLI/ast.go
  CLI/astutil.go
  CLI/completer.go
  CLI/controllers/commandController.go
  CLI/controllers/responseSchemaController.go
  CLI/controllers/tree.go
  CLI/parser.go
  CLI/parser_test.go
  CLI/utils/util.go
Labels: API, CLI

#209 fix(cli, api): delete wildcard returns matches
  CLI/ast.go
  CLI/controllers/commandController.go
Labels: API, CLI

#254 feat(cli): draw/undraw selection
  CLI/ast.go
  CLI/controllers/commandController.go
Labels: enhancement, CLI

#267 feat(cli): adds current domain to prompt
  CLI/controllers/commandController.go
  CLI/controllers/stateController.go
  CLI/controllers/tree.go
  CLI/main.go
Labels: enhancement, CLI

#298 feat(cli): adds current domain to prompt
  CLI/controllers/commandController.go
  CLI/controllers/stateController.go
  CLI/controllers/tree.go
  CLI/main.go
Labels: enhancement, CLI

#301 Propagate domain ID changes to objects
  API/models/model.go
  API/repository/entity.go
Labels: Bug, API
