Repository ditrit/OGrEE-Core, pull requests merged in 2023-08, with the labels that each got.

#134 [API] Add tileOffset to room tmpl
  API/models/schemas/room_template_schema.json
Labels: API

#133 [APP] Backup functionality
  APP/launch.ps1
  APP/launch.sh
  APP/ogree_app/assets/custom/.env
  APP/ogree_app/lib/common/api_backend.dart
  APP/ogree_app/lib/common/snackbar.dart
  APP/ogree_app/lib/l10n/app_en.arb
  APP/ogree_app/lib/l10n/app_fr.arb
  APP/ogree_app/lib/widgets/tenants/docker_view.dart
  APP/ogree_app/lib/widgets/tenants/popups/backup_popup.dart
  APP/ogree_app/pubspec.lock
  APP/ogree_app_backend/.gitignore
  APP/ogree_app_backend/api.go
  APP/ogree_app_backend/tenant.go
Labels: APP

#117 Replace id by hierarchyname
  API/controllers/authControllers.go
  API/controllers/entityController.go
  API/main.go
  API/main_test.go
  API/models/model.go
  API/models/rbac.go
  API/models/sanitiseEntity.go
  API/models/schemas/corridor_schema.json
  API/models/schemas/domain_schema.json
  API/models/schemas/obj_template_schema.json
  API/models/schemas/refs/base.json
  API/models/schemas/room_template_schema.json
  API/models/schemas/site_schema.json
  API/models/schemas/stray_schema.json
  API/models/validateEntity.go
  API/resources/Endpoint_List.md
  API/resources/postman/OGrEE-API.postman_collection.json
  API/swagger.json
  API/utils/util.go
  CLI/ast.go
  CLI/astutil.go
  CLI/completer.go
  CLI/controllers/commandController.go
  CLI/controllers/controllerUtils.go
  CLI/controllers/initController.go
  CLI/controllers/responseSchemaController.go
  CLI/controllers/sendSchemaController.go
  CLI/controllers/sortController.go
  CLI/controllers/stackController.go
  CLI/controllers/stateController.go
  CLI/controllers/tree.go
  CLI/parser.go
  CLI/parser_test.go
  CLI/utils/util.go
  deploy/createdb.js
  deploy/docker/docker-compose.yml
  deploy/docker/entrypoint.sh
Labels: API, CLI

#141 Add netbox and tenant status
  APP/ogree_app/lib/common/api_backend.dart
  APP/ogree_app/lib/l10n/app_en.arb
  APP/ogree_app/lib/l10n/app_fr.arb
  APP/ogree_app/lib/models/netbox.dart
  APP/ogree_app/lib/models/tenant.dart
  APP/ogree_app/lib/pages/projects_page.dart
  APP/ogree_app/lib/widgets/delete_dialog_popup.dart
  APP/ogree_app/lib/widgets/tenants/popups/create_tenant_popup.dart
  APP/ogree_app/lib/widgets/tenants/tenant_card.dart
  APP/ogree_app/lib/widgets/tenants/user_view.dart
  APP/ogree_app/lib/widgets/tools/create_netbox_popup.dart
  APP/ogree_app/lib/widgets/tools/tool_card.dart
  APP/ogree_app/pubspec.lock
  APP/ogree_app_backend/.gitignore
  APP/ogree_app_backend/api.go
  APP/ogree_app_backend/tenant.go
  APP/ogree_app_backend/tools-assets/netbox-docker-template.txt
  APP/ogree_app_backend/tools.go
Labels: APP

#140 cleaner type conversions + vec dereferencing
  CLI/ast.go
  CLI/astbool.go
  CLI/aststr.go
  CLI/astutil.go
  CLI/semantic.go
Labels: enhancement, CLI

#136 Advanced string formating
  CLI/aststr.go
  CLI/lexer.go
  CLI/parser.go
  CLI/parser_test.go
Labels: enhancement, CLI

#165 fix(app): correct backend response when unable to get docker info
  APP/ogree_app/lib/common/api_backend.dart
  APP/ogree_app_backend/api.go
Labels: Bug, APP

#167 Chore(139) Add windows installer to APP and CI
  .github/actions/build/app/windows/action.yaml
  .github/actions/build/back-app/windows/action.yaml
  .github/actions/build/flutter-app/windows/action.yaml
  .github/workflows/build-docker-deploy.yaml
  APP/inno-wininstaller.iss
  APP/ogree-icon.ico
  APP/ogree_app/lib/pages/projects_page.dart
  APP/ogree_app_backend/inno.env
Labels: APP, Chore :construction_worker_man:

#169 feat(cli, api, 3d): clearance
  API/models/schemas/base_schema.json
  API/models/schemas/rack_schema.json
  API/models/schemas/refs/types.json
  CLI/controllers/commandController.go
Labels: API, CLI

#142 feat(cli): allows command over multiple lines in ocli files
  CLI/ocli.go
  CLI/parser.go
Labels: enhancement, CLI
