Repository ditrit/OGrEE-Core, pull requests merged in 2023-09, with the labels that each got.

#176 feat(cli, api): Named separators and pillars
  API/models/schemas/room_template_schema.json
  API/models/schemas/test_data/KO/room_template2.json
  API/models/schemas/test_data/OK/room_template1.json
  API/models/validateEntity_test.go
  API/resources/test/populateDB.py
  API/resources/test/populateMongo.py
  API/resources/test/updateDB.py
  API/resources/test/updateMongo.py
  CLI/ast.go
  CLI/parser.go
Labels: API, CLI

#177 [SuperAdmin] Add support to Kubernetes backend
  APP/ogree_app/lib/common/api_backend.dart
  APP/ogree_app/lib/common/appbar.dart
  APP/ogree_app/lib/l10n/app_en.arb
  APP/ogree_app/lib/l10n/app_fr.arb
  APP/ogree_app/lib/pages/login_page.dart
  APP/ogree_app/lib/widgets/tenants/locked_view.dart
  APP/ogree_app/lib/widgets/tenants/popups/create_server_popup.dart
  APP/ogree_app/lib/widgets/tenants/popups/create_tenant_popup.dart
  APP/ogree_app/lib/widgets/tenants/popups/update_tenant_popup.dart
  APP/ogree_app/lib/widgets/tenants/tenant_card.dart
  APP/ogree_app/test/login_page_test.dart
  APP/ogree_app_backend/api.go
Labels: enhancement, APP

#180 feat(cli): print API URL on startup
  CLI/main.go
Labels: CLI

#179 feat(cli): message on empty selection
  CLI/ast.go
  CLI/parser.go
Labels: CLI

#181 Handle special chars in passwords
  API/models/base.go
  APP/ogree_app/lib/common/appbar.dart
  APP/ogree_app/lib/l10n/app_en.arb
  APP/ogree_app/lib/l10n/app_fr.arb
  APP/ogree_app/lib/pages/login_page.dart
  APP/ogree_app/lib/pages/projects_page.dart
  APP/ogree_app_backend/api.go
  APP/ogree_app_backend/tenant.go
  APP/ogree_app_backend/tools-assets/docker-compose-opendcim.yml
  APP/ogree_app_backend/tools-assets/netbox-docker-template.txt
  deploy/docker/docker-compose.yml
  deploy/docker/init.sh
Labels: API, APP

#185 fix(cli): parser: remove ls extra args + refacto
  CLI/parser.go
  CLI/parser_test.go
Labels: CLI

#186 Add CLI and 3D binaries to Windows Installer
  .github/actions/build/app/windows/action.yaml
  .github/actions/build/windows/action.yaml
  .github/workflows/build-docker-deploy.yaml
  APP/inno-wininstaller.iss
  APP/ogree_app_backend/tenant.go
  inno-wininstaller.iss
Labels: enhancement, CI

#188 fix(app) SuperAdmin URL issue
  APP/ogree_app_backend/flutter-assets/flutter-env-template.txt
Labels: APP

#178 Wildcards
  API/controllers/entityController.go
  API/main.go
  API/swagger.json
  API/utils/util.go
  CLI/ast.go
  CLI/controllers/commandController.go
Labels: API, CLI

#201 fix(cli): focus command crashing on empty path
  CLI/ast.go
  CLI/parser.go
Labels: Bug, CLI

#202 Extend hierarchy endpoint with namespaces
  API/controllers/entityController.go
  API/main.go
  API/main_test.go
  API/models/model.go
  API/swagger.json
  API/utils/util.go
  APP/ogree_app/lib/common/api_backend.dart
  APP/ogree_app/lib/pages/select_page.dart
  APP/ogree_app/lib/pages/tenant_page.dart
  APP/ogree_app/lib/widgets/select_namespace.dart
  APP/ogree_app/lib/widgets/select_objects/app_controller.dart
  APP/ogree_app/lib/widgets/select_objects/select_objects.dart
  APP/ogree_app/lib/widgets/select_objects/tree_view/tree_node_tile.dart
  APP/ogree_app/lib/widgets/tenants/popups/user_popup.dart
  APP/ogree_app/test/select_objects_test.dart
Labels: API, APP

#207 fix(api): delete wildcard sends wrong status
  API/controllers/entityController.go
Labels: API

#210 fix(cli): tree error with imbricated domains
  CLI/controllers/tree.go
Labels: Bug, CLI

#200 fix(cli): dont print empty parsing stack on error
  CLI/parser.go
Labels: CLI

#199 fix(cli): show full id in /Logical/Groups
  CLI/controllers/tree.go
Labels: CLI

#190 fix(cli): enforce spacing before command arguments
  CLI/parser.go
Labels: CLI

#216 fix(cli): empty /Logical/Groups
  CLI/controllers/tree.go
Labels: Bug, CLI

#222 [SuperAdmin] Give user feedback on docker create tenant command
  APP/lib/common/api_backend.dart
  APP/lib/widgets/tenants/popups/create_tenant_popup.dart
  BACK/docker-backend/tenant.go
  deploy/docker/docker-compose.yml
Labels: APP
