Repository ditrit/OGrEE-Core, pull requests merged in 2023-06, with the labels that each got.

#83 [APP] Add run at autostart option to new server backend
  APP/ogree_app/assets/custom/.env
  APP/ogree_app/lib/common/api_backend.dart
  APP/ogree_app/lib/widgets/tenants/popups/create_server_popup.dart
  APP/ogree_app_backend/api.go
  APP/ogree_app_backend/backend-assets/docker-env-template.txt
  APP/ogree_app_backend/backend-assets/template.service
  APP/ogree_app_backend/docker-env-template.txt
  APP/ogree_app_backend/ogree_app_backend.service
  APP/ogree_app_backend/server.go
  deploy/docker/.env
Labels: APP

#87 [CLI] hide debug info in UpdateObj
  CLI/controllers/commandController.go
Labels: CLI

#108 disables CGO in dockerfile build
  API/Dockerfile
Labels: Bug

#100 prevents command "-" from deleting current object
  CLI/parser.go
Labels: enhancement, CLI

#106 Better API dockerfile to speedup rebuilds
  API/Dockerfile
Labels: API
