Repository ditrit/OGrEE-Core, pull requests merged in 2023-10, with the labels that each got.

#233 fix(cli): alias call parsing bug
  CLI/parser.go
Labels: Bug, CLI

#232 [SuperAdmin] Fix docker live output for webapp
  APP/lib/common/api_backend.dart
  APP/lib/widgets/tenants/popups/create_tenant_popup.dart
  APP/lib/widgets/tenants/popups/update_tenant_popup.dart
  BACK/docker-backend/tenant.go
Labels: APP

#237 [WindowsInstaller] Create backend as Windows Service
  inno-wininstaller.iss
Labels: CI

#211 feat(cli): print separator replaced
  CLI/ast.go
Labels: enhancement, CLI

#252 [SuperAdmin] Better reporting to user of auth token expiration
  APP/lib/common/api_backend.dart
  BACK/docker-backend/auth/middleware.go
Labels: APP

#255 [SuperAdmin] Launch scripts: handle container already exists
  APP/Dockerfile
  APP/README.md
  deploy/README.md
  deploy/app/launch.ps1
  deploy/app/launch.sh
Labels: APP

#262 docs(cli): ocli language
  wiki/CLI-language.md
Labels: documentation, CLI

#266 fix(cli): printf syntax + man page
  CLI/controllers/commandController.go
  CLI/other/man/print.md
  CLI/other/man/printf.md
  CLI/parser.go
  CLI/parser_test.go
Labels: Bug, documentation, CLI
