Repository ditrit/OGrEE-Core, pull requests merged in 2024-03, with the labels that each got.

#401 Add attributes to link command
  API/controllers/entityController.go
  CLI/ast.go
  CLI/completer.go
  CLI/controllers/commandController.go
  CLI/other/man/link.txt
  CLI/other/man/unlink.txt
  CLI/parser.go
  wiki/CLI-language.md
Labels: API, CLI

#403 Add DB backup restore to SuperAdmin
  APP/lib/common/api_backend.dart
  APP/lib/common/snackbar.dart
  APP/lib/l10n/app_en.arb
  APP/lib/l10n/app_fr.arb
  APP/lib/widgets/common/delete_dialog_popup.dart
  APP/lib/widgets/tenants/popups/backup_popup.dart
  APP/pubspec.lock
  BACK/app/handlers/docker/tenant.go
  BACK/app/models/tenants.go
  BACK/app/services/router.go
Labels: APP

#422 Feat421 add spanish and portuguese languages
  API/models/schemas/refs/types.json
  APP/lib/common/appbar.dart
  APP/lib/l10n/app_en.arb
  APP/lib/l10n/app_es.arb
  APP/lib/l10n/app_fr.arb
  APP/lib/l10n/app_pt.arb
  APP/lib/main.dart
  APP/lib/pages/projects_page.dart
  APP/lib/widgets/common/language_toggle.dart
  APP/lib/widgets/projects/autoproject_card.dart
  APP/lib/widgets/select_objects/object_popup.dart
  APP/lib/widgets/tenants/popups/confirm_popup.dart
  APP/lib/widgets/tenants/popups/create_server_popup.dart
  APP/lib/widgets/tenants/popups/domain_popup.dart
  APP/lib/widgets/tenants/popups/user_popup.dart
  APP/lib/widgets/tools/create_netbox_popup.dart
  APP/pubspec.lock
  APP/pubspec.yaml
  APP/test/language_toogle_test.dart
  APP/test/login_page_test.dart
  BACK/app/handlers/docker/backend-assets/docker-env-template.txt
  BACK/app/handlers/docker/tenant.go
Labels: enhancement, APP
