Repository ditrit/OGrEE-Core, pull requests merged in 2024-05, with the labels that each got.

#448 Add sitecolors endpoint
  API/controllers/entity.go
  API/controllers/entity_test.go
  API/models/model.go
  API/router/router.go
  API/swagger.json
Labels: API

#454 Fix mongodb Dockerfile
  deploy/db/Dockerfile
  deploy/db/README.md
Labels: Bug

#450 Tests and documentation
  .github/workflows/api-unit-test.yml
  API/controllers/auth_test.go
  API/controllers/entity_test.go
  API/controllers/web_test.go
  API/controllers/wildcard_test.go
  API/main_test.go
  API/models/accounts_test.go
  API/models/create_object_test.go
  API/models/tag_test.go
  API/test/e2e/e2e.go
  API/test/integration/db.go
  API/test/integration/entities.go
  API/test/utils/endpoints.go
  API/test/utils/utils.go
  API/utils/util_test.go
  CLI/ast_test.go
  CLI/astflow_test.go
  CLI/controllers/cd_test.go
  CLI/controllers/commandController_test.go
  CLI/controllers/controller_test.go
  CLI/controllers/cp_test.go
  CLI/controllers/create_test.go
  CLI/controllers/delete_test.go
  CLI/controllers/get_test.go
  CLI/controllers/interact_test.go
  CLI/controllers/layers_test.go
  CLI/controllers/ls_test.go
  CLI/controllers/sendSchemaController_test.go
  CLI/controllers/template_test.go
  CLI/controllers/update_test.go
  CLI/models/layer_test.go
  CLI/models/path_test.go
  CLI/ocli_test.go
  CLI/parser_test.go
  CLI/test/mocks.go
  CLI/test/utils.go
  CLI/utils/util_test.go
  wiki/📙-[Dev-Guide]-Tests.md
Labels: documentation, API, CLI

#462 fix(api) send api coverage badge to dedicated branch
  .github/workflows/api-unit-test.yml
  .github/workflows/cli-unit-test.yml
  API/controllers/auth_test.go
  README.md
Labels: Bug, API

#465 Change coverage badge generation
  .github/actions/coverage/generate-badge/action.yaml
  .github/actions/coverage/upload-badge/action.yaml
  .github/workflows/api-unit-test.yml
  .github/workflows/cli-unit-test.yml
  assets/badge_generator/ReadMe.md
  assets/badge_generator/generate_badge.py
  assets/badge_generator/requirements.txt
Labels: API, CLI
