Repository ditrit/OGrEE-Core, pull requests merged in 2024-02, with the labels that each got.

#355 Add invertOffset to device
  API/models/schemas/device_schema.json
  CLI/ast.go
  CLI/parser.go
  CLI/parser_test.go
  wiki/CLI-language.md
Labels: API, CLI

#369 Endpoint for event notifications + APP fixes
  .github/actions/build/APP/action.yaml
  .github/actions/build/multi-platform/action.yaml
  .github/actions/build/windows/action.yaml
  .github/workflows/app-unit-test.yml
  API/controllers/entityController.go
  API/controllers/event.go
  API/router/router.go
  API/swagger.json
  API/utils/broadcast.go
  API/utils/util.go
  APP/Dockerfile
  APP/README.md
  APP/lib/common/api_backend.dart
  APP/lib/pages/projects_page.dart
  APP/lib/widgets/login_card.dart
  APP/lib/widgets/select_objects/object_popup.dart
  APP/lib/widgets/select_objects/select_objects.dart
  APP/macos/Podfile.lock
  APP/pubspec.lock
  APP/pubspec.yaml
  BACK/app/auth/token.go
  BACK/app/handlers/docker/tenant.go
  BACK/app/handlers/kube/auth.go
  BACK/app/models/user.go
  CLI/controllers/commandController.go
  CLI/controllers/create.go
  CLI/controllers/delete.go
  CLI/controllers/delete_test.go
  CLI/controllers/layers_test.go
  CLI/controllers/update.go
  CLI/controllers/update_test.go
  deploy/app/launch.ps1
  deploy/app/launch.sh
  deploy/docker/docker-compose.yml
Labels: enhancement, API, CLI, APP

#368 feat(API,APP,CLI) changed `vector2`, `vector3`, `reserved`, `technical` and `description` formats
  API/models/create_object_test.go
  API/models/schemas/building_schema.json
  API/models/schemas/corridor_schema.json
  API/models/schemas/device_schema.json
  API/models/schemas/domain_schema.json
  API/models/schemas/generic_schema.json
  API/models/schemas/group_schema.json
  API/models/schemas/rack_schema.json
  API/models/schemas/refs/base.json
  API/models/schemas/refs/types.json
  API/models/schemas/room_schema.json
  API/models/schemas/site_schema.json
  API/models/schemas/stray_schema.json
  API/models/schemas/test_data/KO/building1.json
  API/models/schemas/test_data/KO/device1.json
  API/models/schemas/test_data/KO/group1.json
  API/models/schemas/test_data/KO/rack1.json
  API/models/schemas/test_data/KO/room1.json
  API/models/schemas/test_data/KO/site1.json
  API/models/tag_test.go
  API/models/validateEntity_test.go
  API/repository/base.go
  API/resources/postman/OGrEE-API.postman_collection.json
  API/resources/test/patchUpdateDB.py
  API/resources/test/populateDB.py
  API/resources/test/populateMongo.py
  API/resources/test/tmp.py
  API/resources/test/updateDB.py
  API/resources/test/updateMongo.py
  API/test/integration/entities.go
  APP/lib/models/domain.dart
  APP/lib/widgets/select_objects/object_popup.dart
  CLI/ast.go
  CLI/controllers/create.go
  CLI/controllers/create_test.go
  CLI/controllers/interact.go
  CLI/controllers/interact_test.go
  CLI/controllers/sendSchemaController.go
  CLI/controllers/template.go
  wiki/CLI-language.md
Labels: enhancement, API, CLI, APP

#379 Stop/start tenant + remove db volume
  APP/lib/common/api_backend.dart
  APP/lib/l10n/app_en.arb
  APP/lib/l10n/app_fr.arb
  APP/lib/pages/tenant_page.dart
  APP/lib/widgets/tenants/docker_view.dart
  APP/lib/widgets/tenants/popups/confirm_popup.dart
  APP/lib/widgets/tenants/popups/create_tenant_popup.dart
  APP/lib/widgets/tenants/popups/update_tenant_popup.dart
  APP/lib/widgets/tenants/tags_view.dart
  APP/lib/widgets/tenants/tenant_card.dart
  APP/lib/widgets/tenants/user_view.dart
  APP/lib/widgets/tools/tool_card.dart
  BACK/app/handlers/docker/tenant.go
  BACK/app/services/router.go
Labels: enhancement, APP

#367 feat(API,CLI) add support for searches with complex filters
  API/controllers/entityController.go
  API/models/layer.go
  API/models/model.go
  API/models/schemas/layer_schema.json
  API/models/validateEntity.go
  API/router/router.go
  API/swagger.json
  API/utils/wildcard.go
  CLI/ast.go
  CLI/completer.go
  CLI/controllers/commandController.go
  CLI/controllers/controller_test.go
  CLI/controllers/cp_test.go
  CLI/controllers/delete.go
  CLI/controllers/get.go
  CLI/controllers/get_test.go
  CLI/controllers/layer.go
  CLI/controllers/layers_test.go
  CLI/controllers/ls.go
  CLI/controllers/ls_test.go
  CLI/controllers/update.go
  CLI/models/layer.go
  CLI/models/path.go
  CLI/other/man/get.txt
  CLI/other/man/ls.txt
  CLI/parser.go
  CLI/parser_test.go
  CLI/utils/util.go
  CLI/views/get.go
  wiki/CLI-language.md
Labels: Priority: High, enhancement, API, CLI

#389 fix(Github Actions) Update required Go version
  .github/actions/build/API/action.yaml
Labels: Bug, github_actions

#381 Modify generic objects size vector
  API/models/schemas/generic_schema.json
  API/models/schemas/obj_template_schema.json
  CLI/controllers/create.go
  CLI/controllers/create_test.go
  CLI/controllers/interact_test.go
  CLI/controllers/sendSchemaController.go
  CLI/controllers/template.go
  wiki/CLI-language.md
Labels: API, CLI

#391 Add Nautobot to SuperAdmin
  APP/lib/common/api_backend.dart
  APP/lib/models/netbox.dart
  APP/lib/pages/projects_page.dart
  APP/lib/widgets/common/delete_dialog_popup.dart
  APP/lib/widgets/tools/create_netbox_popup.dart
  APP/lib/widgets/tools/tool_card.dart
  BACK/app/handlers/docker/app.go
  BACK/app/handlers/docker/nautobot.go
  BACK/app/handlers/docker/netbox.go
  BACK/app/handlers/docker/opendcim.go
  BACK/app/handlers/docker/tenant.go
  BACK/app/models/tools.go
  BACK/app/services/router.go
Labels: APP
